<!DOCTYPE html>
<html lang="sv" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YouTube Lite</title>
    <link rel="icon" type="image/png" href="https://www.favicon.cc/logo3d/697454.png">
    <!--<link rel="stylesheet" href="master.css"> -->
     <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/master.css') }}">
    </head>
  <body>
    <div id="header">
    <a href="/"><img src="https://media-manager.starsinsider.com/1920/na_5c5d5d6e969d4.jpg" alt="YouTube Lite" width="5%" height="5%"></a>
    <center>press Ctrl+F to search for vid.</center>
    </div>
    <br><div id="videos">{{videos}}</div>
  </body>
</html>
